{% extends 'base.html.twig' %}

{% block title %}Hello BienImmobilierController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Creation de Bien</h1>
        {{ include ('bien_immobilier/__form.html.twig', {form:form, button:'Creer'})  }}
    </div>

{% endblock %}
{% block index %}
    <script src="{{ asset("js/add.js") }}"></script>
{% endblock %}
