{% extends 'base.html.twig' %}

{% block title %}Location de Bien{% endblock %}

{% block body %}

    <div class="container mt-4">
        {{ include ('transaction/__form.html.twig')  }}
    </div>


{% endblock %}